{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/features.css" %}">
    <title>Create Item</title>
</head>

<body>
    <main>
        <div class="card_container">
            <h1>Create a new item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
  
                <button type="submit">Create</button>
            </form>
        </div>
        <p id="quote_list_page">"You may delay, but time will not." – Benjamin Franklin</p>
    </main>
</body>

</html>