{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/features.css" %}">
    <title>Create</title>
</head>

<body>
    <main>
        <div class="card_container">
            <h1>Create a new list</h1>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="name">
                <br>
                <br>
                <button>Create</button>
            </form>
        </div>

        <p id="quote_list_page">"Time is what we want most, but what we use worst." – William Penn</p>
    </main>
</body>

</html>