{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/features.css" %}">
    <title>Detail Page</title>
</head>
<body>
    <main>
        <div class="card_container">
            <h1>{{ todo_list.name }}</h1>

            <div>
                <p><a href="{% url 'todo_list_update' todo_list.id %}">Edit</a></p>
                <p><a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a></p>
                <p> <a href="{% url 'todo_item_update' todo_list.id %}">{{ item.task }}</a></p>
            </div>
            <h2>Tasks</h2>
        
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
            
                {% for item in todo_items %}
                <tr>
                    <td><a href="{% url 'todo_item_update' todo_list.id %}">{{ item.task }}</a></td>
                    <td>{{ item.due_date }}</td>
                </tr>
                {% endfor %}
               
            </tbody>
        </table>
    </div>
    <p id="quote_list_page">"The future depends on what you do today." – Mahatma Gandhi</p>
    </main>
</body>
</html>