body{
    /* background-color: aquamarine; */
    background: linear-gradient(to bottom, silver, turquoise);
    font-family: cursive;
    height: 100vh;
}

.card_container{
    padding: 20px; 
    background-color: #f2f2f2; 
    box-shadow: 0 10px 20px rgba(24, 24, 28, .89);
    border-radius: 8px; 
    max-width: 400px; 
    box-sizing: border-box; 
    text-align: center;
    margin: 100px auto;
}


#quote_list_page{
    text-align: center;
    font-size: 65px;
}